<h1>Editing Book</h1>

  <% if @book.errors.any? %>
    <%= @book.errors.count %>件のエラーが発生しました
    <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= "error." + message %></li>
      <% end %>
    </ul>
    
  <% end %>
  <%= form_with model: @book do |f| %>
  <h3>Title</h3>
  <%= f.text_field:title %>

  <h3>Body</h3>
  <%= f.text_area:body %>

  <div class = "button">
  <%= f.submit 'Update Book' %>
  <% end %>
  </div>

<span><%= link_to "Show" ,books_path(@book.id) %></span>
<span><%= link_to "Back" ,"/books" %></span>