<h1>Editing Book</h1>

  <% if @book.errors.any? %>
    <%= @book.errors.count %>件のエラーが発生しました
    <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= "error." + message %></li>
      <% end %>
    </ul>
    
  <% end %>
  <%= form_with model: @book do |f| %>
  <span>Title</span>
      <div class = title-box>
        <%= f.text_field :title %>
      </div>
  <span>Body</span>
      <div class = body-box>
        <%= f.text_area :body %>
      </div>
  <div class = "button">
  <%= f.submit 'Update Book' %>
  <% end %>
  </div>

<span><%= link_to "Show" ,book_path(@book) %></span>
<span><%= link_to "Back" ,"/books" %></span>