<div>
  <%= flash[:notice] %> 
</div>

<h2>Books</h2>
<% @books.each do |book| %>
  <h4>Title</h4>
  <span><%= book.title %></span>
  
  <h4>Body</h4>
  <span><%= book.body %></span>
  
  <span><%= link_to "Show", book_path(@books.ids) %></span>
  <span><%= link_to "Edit", edit_book_path(@books.ids) %></span>
  <span><%= link_to "Destroy", book_path(@books.ids), method: :delete, "data-confirm" => "Are you sure? " %></span>
<% end %>

<h4>New book</h4>
<%= form_with model: @books.new do |f| %>
<% if @book.errors.any? %>
    <%= @book.errors.count %>件のエラーが発生しました
    <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
<% end %>
    <h4>Title</h4>
  <%= f.text_field :title %>
    <h4>Body</h4>
  <%= f.text_area :body %>
  
  <%= f.submit 'Create Book' %>
<% end %>
